.App {
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section1{
  display: flex;
  min-height: 100vh;
}
.leftSection1{
  height: 100%;
  width: 40%;
  margin: 5% 0% auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSection1Box{
  width:50%;
  height: 100%;
  text-align: left;
  margin-top: 10%;
}
.rightSection1Box>h1{
  font-size: 100px;
  line-height: 0;
}
.rightSection1Box>h2{
  font-size: 40px;
}
.rightSection1Box>p{
  font-size: 20px;
}
.primary-btn-section1{
  width: 25%;
  margin:0 auto;
  padding:10px;
  border: none;
  background-color: #397AC2;
  color: #f5f5f5;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  letter-spacing: .1em;
  border-radius: 5px;
  justify-self: center;
}
.rightSection1Box>button:hover{
  background-color: #ABD1FC;
  cursor: pointer;
  color: black;
}

.secondary-btn{
  width: 25%;
  margin:0 auto auto 2%;
  padding:10px;
  border-width: 1px;
  border-color: #255285;
  background-color:#f5f5f5;
  color: black;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  letter-spacing: .1em;
  border-radius: 5px;
  justify-self: center;
}

.section2{
  display: flex;
  height: 550px;
  min-height: 50vh;
  background-color: #397AC2;
}
.innerSectionBox{
  height: 50%;
  width:30%;
  margin: 0 auto;
  margin-top: 7%;
}
.innerSectionBox>h1{
  color: white;
}
.innerSectionBox>img{
  height: 20%;
  margin: 0 auto
}
.innerSectionBox>p{
  color: 'white';
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-size:17px;
  color: white
}
.section3{
  display: flex;
  height: 800px;
  min-height: 100vh;
  max-height: 50vh;
  background-color: #3D3D3D;
}
.rightSection3{
  width:48%;
  height: 100%;
  text-align: left;
  margin:0 auto;
  margin-top: 10%;
}
.rightSection3>h2{
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.leftSection3{
  height: 100%;
  width: 45%;
  float: right;
}
.section4{
  height: 600px;
}
.section4>h1{
  font-size: 50px;
  margin-top:8%;
}
.section4>form{
  width:60%;
  margin: 0 auto;
  height: 50%;
}
.section4>form>textarea{
  width:99%;
  height: 50%;
  margin-top: 10px;
  font-size: 16px;
}
.formTop{
  display: inline;
}
.formTop>input{
  width: 48%;
  height: 25px;
  padding:5px;
  font-size: 16px;
}
.input1{
  float: left;
}
.input2{
  float: right;
}
.section4>form>button{
  width: 50%;
  margin:0 auto;
  padding:10px;
  border: none;
  background-color: #397AC2;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
}
.section4>form>button:hover{
  background-color: #255285;
  cursor: pointer;
}
.phone-frames{
  height: 70%;
  width:70%;
  justify-items: center;
  display:flex;
  justify-content: right;
}
.phoneframe2{
  height: 80%;
  float:right
}
.phoneframe2>img{
  height: 100%;
  margin-top:20%;
}


.stores{
  display:inline-flex;
  width: 70%;
  justify-content: space-around;
}
.stores>img{
  height: 50px;
  margin-top: 1%;

}
.headline-h2{
  font-family: 'Muli', sans-serif;
  color: #373F41;
  margin: 0;
}
.headline-p{
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: 500;
  text-align: left;
  color: #737B7D;
  width: 55%;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Muli:wght@900&display=swap');